@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@400;600&display=swap');

html {
    font-family: 'Urbanist', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: linear-gradient(109.6deg, rgba(253, 199, 141, 1) 11.3%, rgba(249, 143, 253, 1) 100.2%);
}

#backPic {
    display: flex;
    z-index: 1;
    position: fixed;
    opacity: 65%;
    max-height: 200%;
    max-width: 300%;
}

#logo {
    width: 400px;
    margin-bottom: 2rem;
    z-index: 3;
}

.card {
    background: #202020e6;
    color: #FAF9F6;
    padding: 2rem;
    border-radius: 2rem;
    width: 100%;
    max-width: 430px;
    margin: 2rem;
    z-index: 2;
}

.searchArea {
    display: flex;
    align-items: center;
    justify-content: center;
}

#tooltip {
    position: relative;
    display: flex;
}

#tooltipTextOne,
#tooltipTextTwo {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    background-color: #545454;
    color: #FAF9F6;
    letter-spacing: 0.03rem;
    white-space: nowrap;
    padding: 10px;
    border-radius: 30px;
    font-size: 12px;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.5s ease;
}

#tooltipTextOne::before,
#tooltipTextTwo::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translateX(-50%);
    border: 10px solid;
    border-color: #545454 #0000 #0000 #0000;
}

#tooltipTextOne {
    top: -110%;
    left: 25%;
}

#tooltipTextTwo {
    top: -110%;
    left: 75%;
}

#search:hover + #tooltipTextOne {
    visibility: visible;
    opacity: 1;
}

#geoLocRequest:hover + #tooltipTextTwo {
    visibility: visible;
    opacity: 1;
}

#search,
#geoLocRequest {
    margin: 0.3rem;
    border-radius: 50%;
    border: none;
    outline: none;
    height: 2.1rem;
    width: 2.1rem;
    font-size: 75%;
    color: #FAF9F6;
    background: #f7f7f72b;
    transition: all 0.2s ease-in-out;
}

#search:hover,
#geoLocRequest:hover {
    cursor: pointer;
    box-shadow: 0 0 2px #FAF9F62b;
    border: 1px solid #FAF9F62b;
    background-color: #f7f7f74b;
}

#userInput {
    border: none;
    outline: none;
    margin-right: 0.3rem;
    padding: 0.5rem 1rem;
    border-radius: 50px;
    background: #f7f7f72b;
    color: #FAF9F6;
    font-family: inherit;
    font-size: 100%;
    width: calc(100% - 3rem);
    transition: all 0.2s ease-in-out;
}

::placeholder {
    color: #FAF9F6;
    opacity: 50%;
}

#userInput:focus {
    box-shadow: 0 0 2px #FAF9F64b;
    border: 1px solid #FAF9F64b;
}

#autocomp ul {
    list-style: none;
    padding: unset;
    margin-left: -325px;
    margin-top: 17.6px;
    display: flex;
    flex-direction: column;
    position: absolute;
    border: none;

}

#autocomp button {
    border: 1px solid #545454;
    background: #FAF9F6;
    padding: 0.4rem;
    cursor: pointer;
    color: #545454;
    display: block;
    position: relative;
    width: 100%;
    text-align: left;
    margin-bottom: -3px;
}

#autocomp li {
    border: none;
    width: 19rem;
}

#autocomp button:hover {
    background: #d7d7d7;
}

#cityWeather {
    letter-spacing: 0.03rem;
}

#tempDisp {
    margin: 0;
    margin-bottom: 0.5rem;
    letter-spacing: 0.1rem;
}

#descriptionDisp {
    line-height: 1.4rem;
    text-transform: capitalize;
    letter-spacing: 0.04rem;
}

#humidDisp,
#windDisp,
#feelLike {
    line-height: 1.8rem;
    letter-spacing: 0.04rem;
}

.flexDesc {
    display: flex;
    align-items: center;
    margin-left: -0.5rem;
}

/* Loading starts */

.lds-ripple {
    display: flex;
    margin: auto;
    position: relative;
    margin-top: 5rem;
    margin-bottom: 5rem;
    width: 80px;
    height: 80px;
    resize: both;
}

.lds-ripple div {
    position: absolute;
    border: 4px solid #FAF9F6;
    opacity: 1;
    border-radius: 50%;
    animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.lds-ripple div:nth-child(2) {
    animation-delay: -0.5s;
}

@keyframes lds-ripple {
    0% {
        top: 36px;
        left: 36px;
        width: 0;
        height: 0;
        opacity: 0;
    }

    4.9% {
        top: 36px;
        left: 36px;
        width: 0;
        height: 0;
        opacity: 0;
    }

    5% {
        top: 36px;
        left: 36px;
        width: 0;
        height: 0;
        opacity: 1;
    }

    100% {
        top: 0px;
        left: 0px;
        width: 72px;
        height: 72px;
        opacity: 0;
    }
}

/* Loading ends */